*{
	margin: 0px;
	padding: 0px;
}
.card{
	background-color: #E0FFFF;
	border: 2px solid black;
	height: 440px;
	width: 300px;
	margin: 100px 200px 100px 550px;
	text-align: center;
	border-radius: 8px;


}
.logo{
	background-color: #2F4F4F;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 12px;
	color: yellow;


}
.logo-icon{
	height: 45px;
	width: 35px;

}
.intro h3{
	color: blue;
}
.intro p{
	font-size: 12px;
	gap: 10px;

}
.intro{
	border-bottom-style: dashed;
	border-bottom-width: 2px;
	border-bottom-color: orange;


}
.num{
	display: flex;
	font-size: 12px;
	justify-content: center;
	margin-top: 5px;
}
.fa-brands{
	color: green;
}
.images{
	height: 100px;
	width: 90px;
	border: 1px solid yellow;
	border-radius: 7px;
	margin-top: 35px;
}
.name{
	margin-top: 8px;
}
.about{
    margin-top: 20px;
    gap: 15px;
    text-align: justify;
    margin-left: 59px;
    font-family: cursive;

}
 .hindi{
	font-size: 15px;
	color: orange;
	margin-top: 18px;
}



